@mixin flexbox($direction, $justify, $align-items, $align-content) {
	display: flex;
	@if $direction == auto {
		//flex-direction: row;
	} @else {
		flex-direction: $direction;
	}
	@if $justify == auto {
		//justify-content: flex-start;
	} @else {
		justify-content: $justify;
	}
	@if $align-items == auto {
		//align-items: stretch;
	} @else {
		align-items: $align-items;
	}
	@if $align-content == auto {
		//align-content: stretch;
	} @else {
		align-content: $align-content;
	}
}

* {
	& {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		padding: 0; margin: 0;
	}
}

html, body, .container {
	width: 100%; height: 100%;
}

body {
	background-color: #fff;
	overflow: hidden;

	font-size: 0;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 10px;
	text-align: center;
	font-size: 32px;

	hr {
		height: 1px;
		width: 100%;
	}
}
